.secion_fundacion {
    background-color: rgb(243, 174, 220);
}
h1 {
    color: rgb(8, 204, 44);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: rgb(8, 204, 44);
    font-size: ;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
{
    #Actividades Recreativas
    width: 70%;
}
